html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ccccff;
}

#wrapper {
    min-height:100%;
    position: relative;
}

#header{
    height: 80px;
    background-color: #045491;
    color: #ffffff;
}

#footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:80px;
    background-color: #045491;
}

.content{
    padding: 10px;
    background-color: #ffffff;
    padding-bottom: 80px;
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
}

.contentWrapper{
    width: 100%;
    height: 100%;
    box-shadow:3px 3px 5px 6px #ccc;
}

.header-block:after {
    clear: both;
    content: "";
    display: block;
}

.header-block {
    height: 80px;
    margin: 0 auto;
    width: 1000px;
}

.titulo { 
    float:left;
    line-height: 80px;
    vertical-align: middle;
}

.tuna {
    float: left;
    border: 0px !important;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.menu {
    float: right;
    margin-top: 20px;
}

.border-less table tbody, .border-less table tr,.border-less table tr td{
    background: none !important;
    border: 0px none !important;
}

.ui-widget, .ui-widget .ui-widget{
    font-size: 12px;
}

.ui-menu-child{
    width: auto !important;
}

.ui-growl{
    font-size: 12px;
    top: 90px;
}

.ui-panelgrid-header{
    text-align: left !important;
}