.box-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}
.box-table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 1px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
.box-table td
{
	padding: 1px;
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
.box-table tr:hover td
{
	background: #d0dafd;
	color: #339;
}
.box-table tfoot th{
    border-bottom: 4px solid #aabcfe;
    border-top: 1px solid #fff;
}


.formContent{
    background-color: #ffffcc;
    border-color: darkgreen;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.formBoxTitle{
    color: darkolivegreen;
    font-weight: bold;
}
